/*========================
google fonts
==========================*/

@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Playfair+Display:400,700,900|Roboto:100,300,400,900&display=swap');
@import url('https://cdn.dengrweb.com/venobox-2.0.2/venobox.css');
/*========================
start common css
==========================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

ul,
ol {
    list-style: none;
}

buttton:focus,
input:focus {
    outline: 0;
}

.theme-bg {
    background-position: center !important;
    background-repeat: no-repeat !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
}

.theme-bg .overlear {
    background: linear-gradient(90deg, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
    width: 100%;
    height: 100%;
}

/*section title css*/

.section-title h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    color: #413d4b;
}

.section-title h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
    color: #2f2d35;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.section-title h3:before {
    content: '';
    width: 60px;
    height: 3px;
    top: 100%;
    left: 50%;
    background: #c6c4c9;
    position: absolute;
    transform: translateX(-50%);
}

.section-title p {
    color: #999;
}


/*========================
end common css
==========================*/



/*========================
start nav bar
==========================*/
.navbar {
    position: absolute;
    width: 100%;
    background: ;
    z-index: 999999;
}

.navbar a {
    padding: 29px 0;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 13px;
    color: #fff;
    padding-left: 10px;

}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #00e0d0;
}

/*sticky menu css*/
.nav_menu.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #292757;
    z-index: 999;
    border-bottom: 1px solid #cecece;
    -webkit-box-shadow: 0px 0px 191px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 191px 0px rgba(0, 0, 0, 0.06);
    -webkit-animation: sticky 2s;
    animation: sticky 2s;
}

/*For Animation*/
@-webkit-keyframes sticky {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }

    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%)
    }
}

@keyframes sticky {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }

    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%)
    }
}

/*========================
endnav bar
==========================*/
/*========================
  banner part
==========================*/
.banner {
    position: relative;
}

.banner .single_slide {
    width: 100%;
}

.banner .banner_text {
    padding: 220px 0;
}

.banner .banner_text h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 32px;
    color: #fff;
    position: relative;
    padding-bottom: 22px;
    margin-bottom: 26px;
}

.banner .banner_text p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    line-height: 2;
    padding: 0px 113px;
    padding-bottom: 28px;
}

.banner .banner_text a {
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #00e0d0;
    text-transform: uppercase;
    padding: 14px 15px;
    border: 1px solid #00e0d0;
    line-height: 1;
}

.banner .banner_text h1:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 1px;
    background: #00e0d0;
}

.banner .left_arrowa,
.banner .right_arrowa {
    position: absolute;
    color: #090202;
    z-index: 9999;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    font-size: 71px;
    border: none;
    color: #fff;
}


.banner .left_arrowa {
    left: 3%;
}

.banner .right_arrowa {
    right: 3%;
}

.banner .slick-dots {
    position: absolute;
    bottom: 11%;
    left: 50%;
    transform: translateX(-50%);
}

.banner .slick-dots li {
    display: inline-block;
    padding-left: 5px;
}

.banner .slick-dots li button {
    font-size: 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #aaa9af;
    background: none;
}

.banner .slick-dots li.slick-active button {
    background: #02d6c9;
    border: 1px solid #02d6c9;
}

/*========================
 banner part end
==========================*/
/*========================
 story_part start
==========================*/
.story_part {
    padding: 90px 0;
}

.story_part .section-title h2 {
    padding-bottom: 20px;
}

.story_part .section-title p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #413d4b;
    padding-bottom: 30px;
    margin-bottom: 0;
}

.story_part .section-title a {
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #00e0d0;
    text-transform: uppercase;
    padding: 14px 15px;
    border: 1px solid #00e0d0;
    line-height: 1;
}

/*========================
 story_part end
==========================*/
/*========================
 play_part start
==========================*/
.play_part .play_item {
    padding: 189px 0;
}

.play_part .play_item .play_btn {
    padding-bottom: 30px;
}

.play_part .play_item .play_text h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #fff;
}

/*========================
 play_part end
==========================*/
/*========================
 expertise part start
==========================*/
.expertise {
    padding: 97px 0;
}

.expertise .single_item {
    padding-top: 50px;
}


.expertise .single_item .text h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: #413d4b;
    padding: 32px 0 13px 0;
}

.expertise .single_item .text p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #333;
    padding: 0 52px;
}

/*========================
 expertise part end
==========================*/
/*========================
 banner part end
==========================*/
/*========================
 team part start
==========================*/

.team_area .section-title {
    padding-top: 90px;
}

.team_area .section-title h2 {
    color: #fff;
}

.team_area .section-title h3 {
    margin-bottom: 48px;
    color: #fff;
}

.team_area .single_team {
    border: 1px solid #7c7990;
}

.team_area .single_team .image img {
    width: 100%;
}

.team_area .single_team .team_text {
    text-align: center;
}

.team_area .single_team .team_text h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: #fff;
    padding: 20px 0 12px 0;
}

.team_area .single_team .team_text h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #fafafa;
    padding-bottom: 27px;
}

.team_area .team_btm {
    padding: 65px 0 90px 0;
}

.team_area .team_btm p {
    color: #fff;
    padding-bottom: 6px;
    font-size: 14px;
}

.team_btm a {
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #00e0d0;
    text-transform: uppercase;
    padding: 14px 15px;
    border: 1px solid #00e0d0;
    line-height: 1;
}

/*========================
 team part end
==========================*/
/*========================
 work_area start
==========================*/
.work_area {
    padding: 90px 0;
}

.work_area .work_btn {
    padding: 0px 0 47px 0;
}

.work_area .work_btn button {
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #413d4b;
    line-height: 1;
    padding: 12px 9px;
    margin-left: 10px;
    background: transparent;
    border: 1px solid #ddd;
}

.work_area .mix_active {
    padding-bottom: 70px;
}
div.venobox{
    position: relative;
    cursor: pointer;
}
div.venobox::after{
    opacity: 0;
    transition: 0.5s;
    content: '+';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'bootstrap-icons';
    font-size: 30px;
}
div.venobox:hover::after{
    opacity: 0.5;
}
/*========================
 work_area end
==========================*/
/*========================
 slider_area start
==========================*/
.slider_area {
    position: relative;
}

.slider_area .single_slaid .slider_text {
    text-align: center;
}

.slider_area .single_slaid .slider_text h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 100px;
    color: #fff;
}

.slider_area .single_slaid .slider_text p {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    padding: 0 193px;
}

.slider_area .single_slaid .slider_text h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #fff;
    padding-top: 20px;
}

.slider_area .single_slaid .slider_text h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    padding-bottom: 130px;
}

.slider_area .left_arrow,
.slider_area .right_arrow {
    position: absolute;
    color: #090202;
    z-index: 9999;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    font-size: 71px;
    border: none;
    color: #fff;
}


.slider_area .left_arrow {
    left: 3%;
}

.slider_area .right_arrow {
    right: 3%;
}

.slider_area .slick-dots {
    position: absolute;
    bottom: 11%;
    left: 50%;
    transform: translateX(-50%);
}

.slider_area .slick-dots li {
    display: inline-block;
    padding-left: 5px;
}

.slider_area .slick-dots li button {
    font-size: 0;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: #fff;
}

.slider_area .slick-dots li.slick-active button {
    background: #02d6c9;
    border: 6px solid #fff;
}

/*========================
 slider_area end
==========================*/
/*========================
 brand_area start
==========================*/
.brand_area {
    padding: 72px 0;
}

.brand_area .brand_title {}

.brand_area .brand_title h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    color: #413d4b;
}

.brand_area .left-brand input {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #413d4b;
    width: 90%;
    margin-top: 24px;
    padding: 16px 19px;
    text-transform: capitalize;
    border: 1px solid #e5e5e5;
}

.brand_area .left-brand textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #413d4b;
    width: 90%;
    padding: 16px 19px;
    margin-top: 24px;
    display: block;
    text-transform: capitalize;
    border: 1px solid #e5e5e5;
}

.brand_area .left-brand button {
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #00e0d0;
    text-transform: uppercase;
    padding: 14px 15px;
    border: 1px solid #00e0d0;
    line-height: 1;
    background: none;
    margin-top: 24px;
}

.brand_area .right_brand {
    padding-bottom: 42px;
}

.brand_area .right_brand .brand_logo {
    padding-top: 47px;
}

/*========================
 brand_area end
==========================*/
/*========================
 footer_area start
==========================*/
.footer_area .overlear {
    padding: 90px 0;
}

.footer_area .foo_title h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 15px;
    color: #fff;
    padding: 19px 0 32px 0;
}

.footer_area .foo_left .footer_text p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    padding-top: 28px;
}

.footer_area .foo_midd .foo_body i {
    color: #fff;
    font-size: 27px;
}

.footer_area .foo_midd .foo_body p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    padding: 0 57px 0 0;
}

.footer_area .foo_right .fl_body .subscribe input {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding: 18px 17px;
    border: 1px solid #9e96af;
    color: #fff;
    margin: 0;
    background: transparent;
    width: 100%;
}

.footer_area .foo_right .fl_body .subscribe button {
	/* padding: 9px 13px; */
	background: rgba(255, 255, 255, 0.5);
	/* position: absolute; */
	/* right: 0; */
	/* top: 0; */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.footer_area .foo_right .fl_body .subscribe button i {
    /* font-size: 35px; */
    color: #222;
}

.footer_area .foo_right .fl_body .socal_accaunt {
    padding-top: 27px;
}

.footer_area .foo_right .fl_body .socal_accaunt a {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    margin-right: 9px;
}

.footer_area .foo_right .fl_body .socal_accaunt a i {
    font-size: 18px;
    color: #fff;
    line-height: 35px;
}

.footer_area .copyright {
    padding-top: 70px;
}

.footer_area .copyright .link a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    padding-right: 33px
}

.footer_area .copyright .text_l {
    text-align: right;
}

.footer_area .copyright .text_l h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

/*========================
 footer_area end
==========================*/
/*========================
 preloader start
==========================*/
.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: #fff;
    padding: 15% 50%;
}

.loading-logo {
    position: absolute;
    left: calc(50% - 86px);
    top: 40%;
}

.loading {
    position: absolute;
    left: calc(50% - 35px);
    top: 50%;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid transparent;
}

.loading .effects {
    transition: all .3s ease;
}

.loading .effect-1 {
    animation: rotate 1s ease infinite;
}

.loading .effect-2 {
    animation: rotateOpacity 1s ease infinite .1s;
}

.loading .effect-1,
.loading .effect-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 3px;
    border-left: 3px solid rgba(121, 97, 249, 1);
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.loading .effect-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-left: 3px solid rgba(121, 97, 249, 1);
    -webkit-animation: rotateOpacity 1s ease infinite .2s;
    animation: rotateOpacity 1s ease infinite .2s;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }

    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

@keyframes rotateOpacity {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: .1;
    }

    100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
        opacity: 1;
    }
}

/*========================
 preloader end
==========================*/
/*========================
 back-to-top button start
==========================*/

.back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 99;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    display: none;
    animation: anim 2s infinite;
}

.back-to-top img {
    height: 60px;
    right: 20px;
    bottom: 20px;
}

@keyframes anim {
    from {
        right: 20px;
        bottom: 20px;
    }

    to {
        right: 20px;
        bottom: 50px;
    }
}

/*========================
 back-to-top button end
==========================*/


@media (max-width:575px){
    .container{
        margin:0 15px;
        width: calc(100% - 30px);
    }
    
}